*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 2;
}